* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/hero.jpg");
  height: 800px;
  background-size: cover;
  text-align: center;
}

.logo {
  color: #fff;
  font-family: "Great Vibes", cursive;
  font-size: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.nav-menu {
  list-style: none;
  color: #fff;
}

.nav-menu li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.nav-menu li a {
  text-decoration: none;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  transition: color all 0.3s ease-in-out;
}

.nav-menu li a:hover {
  color: #f2ac32;
}

.header-title-1 {
  color: #f2ac32;
  font-size: 80px;
  margin-top: 170px;
  margin-bottom: 15px;
  font-family: "Great Vibes", cursive;
}

.header-title-2 {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 55px;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.header-cta-button {
  color: #fff;
  background-color: #f2ac32;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.header-cta-button:hover {
  background-color: #cf9c0e;
}

.search {
  margin-left: 8px;
  margin-right: 20px;
}

.my-bag {
  font-size: 21px;
}

/************** Discover Section ******************/

.discover-section {
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.food-border {
  border: 2px solid #f2ad32;
  position: relative;
}

.food-overlay {
  padding: 70px 10px 0 10px;
  background-color: #ffffff;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
}

.food-item {
  height: 450px;
  width: 270px;
  margin-left: 15px;
  margin-right: 15px;

  text-align: center;
}

.food-item p {
  color: #575555f2;
  font-size: 16px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.food-item a {
  font-size: 16px;
  text-decoration: none;
  color: #f2ad32;
  font-family: "Oswald", sans-serif;
}

.food-1 {
  background-image: url("../images/story1.jpg");
  background-size: cover;
  margin-top: -30px;
  -webkit-box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
}

.food-2 {
  background-image: url("../images/story2.jpg");
  background-size: cover;
  -webkit-box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 8px 21px 2px rgba(0, 0, 0, 0.75);
}

.discover-h1 {
  font-family: "Great Vibes", cursive;
  color: #f2ac32;
  font-size: 60px !important;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.discover-h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 0;

  color: #333;
}

/************** End Discover Section ******************/

/************** Start Specialites Section ******************/

.specialities-section {
  background: linear-gradient(rgba(19, 22, 31, 0.8), rgba(19, 22, 31, 0.8)),
    url("../images/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

.specialities-h1 {
  font-family: "Great Vibes", cursive;
  color: #f2ac32;
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 15px;
}

.specialities-h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 100px;
}

.specialities-middle {
  text-align: center;
  position: relative;
}

.specialities-row {
  display: flex;
  justify-content: center;
}

.specialities-image1,
.specialities-image2,
.specialities-image3 {
  width: 100%;
  height: 255px;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.specialities-col {
  width: 350px;
  margin-left: 20px;
  margin-right: 20px;
}

.specialities-image1 {
  background-image: url("../images/cat1.jpg");
  background-size: cover;
}

.specialities-image1:hover .specialities-overlay,
.specialities-image2:hover .specialities-overlay,
.specialities-image3:hover .specialities-overlay {
  opacity: 1;
}

.specialities-image2 {
  background-image: url("../images/cat2.jpg");
  background-size: cover;
}

.specialities-image3 {
  background-image: url("../images/cat3.jpg");
  background-size: cover;
}

.specialities-h3 {
  font-size: 26px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

.specialities-overlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(242, 173, 50, 0.6);
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: all 0.4s ease-in-out;
}

.specialites-overlay-border {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
}

.specialities-middle:before {
  content: "";
  position: absolute;
  border-top: 100px solid #f8f8ff;
  border-right: 100vw solid transparent;
  top: -100px;
  right: 0;
}

.specialities-middle:after {
  content: "";
  position: absolute;
  border-bottom: 100px solid #ffffff;
  border-left: 100vw solid transparent;
  bottom: -100px;
  right: 0;
}

/*-------------End Specialities Section-----------*/

/************** Start Special Menu Section ***********/

.special-menu-section {
  text-align: center;
  background-color: #ffffff;
  padding: 50px;
}

.special-menu-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.special-menu-h1 {
  font-family: "Great Vibes", cursive;
  color: #f2ad32;
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: normal;
}

.special-menu-h2 {
  margin-bottom: 50px;
  color: #333333;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

.special-menu-h3 {
  width: 100%;
  font-family: "Great Vibes", cursive !important;
  font-size: 36px !important;
  font-weight: normal;
}

.separator {
  display: inline-block;
  width: 40px;
  border-bottom: 2px solid #fff;
  margin: 15px auto;
}

.special-menu-h4 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  width: 100%;
}

.special-menu-p {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  padding: 30px 20px;
  width: 100%;
}
.special-menu-col {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.col-large {
  width: 50%;
  height: 586px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.col-large-1,
.col-large-3 {
  background-color: #f2ad32;
  color: #ffffff;
  justify-content: center;
}

.fa-ice-cream,
.fa-utensils {
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
}

.col-large-2 {
  background-image: url("../images/banner1-2.jpg");
  background-size: cover;
}

.col-large-4 {
  background-image: url("../images/banner6.jpg");
  background-size: cover;
}

.fa-drumstick-bite {
  color: #f2ad32;
  font-size: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.col-small {
  width: 50%;
  height: 293px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.col-small-1,
.col-small-4 {
  background-color: #f8f8ff;
}

.col-small-2 {
  background-image: url("../images/banner2-1.jpg");
  background-size: cover;
  background-position: center;
}

.col-small-3 {
  background-image: url("../images/banner3.jpg");
  background-size: cover;
  background-position: center;
}

.col-small-h3 {
  width: 100%;
  font-family: "Great Vibes", cursive !important;
  font-size: 36px !important;
  color: #f2ad32;
  font-weight: normal;
}

.col-small-h4,
.col-small-h5 {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  letter-spacing: 3px;
  width: 100%;
  color: #333333;
}

.col-small-h5 {
  color: #f2ad32;
  margin-top: 10px;
  letter-spacing: 0;
}

.separator-orange {
  display: inline-block;
  width: 40px;
  border-bottom: 2px solid #f2ad32;
  margin: 15px auto;
}

.col-small-5 {
  background-image: url("../images/banner4.jpg");
  background-size: cover;
  background-position: center;
}

.col-small-8 {
  background-image: url("../images/banner5.jpg");
  background-size: cover;
  background-position: center;
}

/************** End Special Menu Section ***********/

/************** Start Our Menu Section ***********/

.our-menu-section {
  background: linear-gradient(rgba(19, 22, 31, 0.7), rgba(19, 22, 31, 0.8)),
    url("../images/parallax2.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 150px 50px;
}

.our-menu-h1 {
  font-family: "Great Vibes", cursive;
  color: #f2ad32;
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: normal;
}

.our-menu-h2 {
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

/*********** Food Container ***************/

.food-container {
  color: #ffffff;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 25px;
}

.our-menu-row {
  display: flex;
  justify-content: center;
}

.our-menu-col {
  width: 335px;
  margin: 30px;
}

.food-title {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-overflow: ellipsis;
}

.food-price {
  color: #f2ad32;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.food-ingredients {
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
}

.our-menu-button {
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 14px;
  padding: 16px 75px;
  transition: all 0.3s ease-in-out;
}

.our-menu-button:hover {
  background-color: #f2ad32;
  padding: 16px 70px;
}

/*********** Booking Table Section ***************/

.booking-table-section {
  padding: 100px;
  text-align: center;
  background-color: #f0f0f0;
}

.booking-table-h1 {
  font-family: "Great Vibes", cursive;
  color: #f2ad32;
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: normal;
}

.booking-table-h2 {
  margin-bottom: 50px;
  color: #333333;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

.booking-table-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.booking-div {
  background-color: #ffffff;
  margin: 30px 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.booking-icon {
  display: inline-block;
  padding: 15px 20px;
  border-right: 1px solid #f0f0f0;
}

.booking-data {
  padding-right: 20px;
  padding-left: 20px;
}

/******** Call To Action Button ***********/
.booking-cta {
  background-color: #f2ad32;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 75px;
  letter-spacing: 1px;
}

/*********** Footer Section ***************/
footer {
  padding: 60px 0px;
  padding-bottom: 0;
  background: linear-gradient(rgba(248, 248, 248, 0), rgba(255, 255, 255, 0)),
    url("../images/footer-bg.jpg");
  background-size: auto;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: repeat;
  color: #f0f0f0;
}

.footer-row {
  display: flex;

  flex-wrap: wrap;
}

.footer-col {
  margin: 30px 60px;
}

.footer-title {
  font-family: "Oswald", sans-serif;
  color: #f2ad32;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 45px;
}

.footer-text {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

/********** Footer Email **************/

.footer-email {
  padding: 10px 22px;
  width: 230px;
  height: 45px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
}

.footer-subscribe {
  display: inline-block;
  width: 230px;
  height: 45px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-decoration: none;
  background-color: #f2ad32;
  text-align: center;
  line-height: 45px;
}

.copyright {
  padding: 40px;
  color: #bababa;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  border-top: 1px solid rgba(240, 240, 240, 0.473);
}

.copyright-name {
  color: #f2ad32;
}
